<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> Canvas on detail: {{album.title}} </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
      <ion-back-button color="primary" text="volver" icon="arrow-round-back"></ion-back-button>

    </ion-buttons>

    <ion-button color="primary" slot="start" *ngIf="identity.rol == 'ADMIN'" (click)="addSongs()"> Add Songs</ion-button>
    <ion-button color="primary" slot="start" *ngIf="identity.rol == 'ADMIN'" (click)="editAlbum()"> Edit</ion-button>


  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-row class="ion-justify-content-center">
    <ion-col size="3">
      <ion-card>
        <img src="http://localhost:3000/api/artists/get-image/{{album.artist.image}}" [routerLink]="['/principal/startmenu/artists-detail/', album.artist._id]">
        <ion-card-header>
          <ion-card-title>
            Más del mismo artista
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>

          <ion-item *ngFor="let alb of artistAlbums">
            <ion-thumbnail slot="start">
              <img src="http://localhost:3000/api/albums/get-image/{{alb.image}}"  [routerLink]="['/principal/startmenu/albums-detail/', alb._id]">
            </ion-thumbnail>
            <ion-label>
              <h3>{{alb.title}}</h3>
              <p>{{alb.year}}</p>
            </ion-label>
           
          </ion-item>

        </ion-card-content>
      </ion-card>

    </ion-col>
    <ion-col size="5">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            {{album.title}}
          </ion-card-title>
          <ion-card-subtitle>
            {{album.artist.name}}
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>

          <ion-row>
            <ion-col size="4">
              <img id="albumBigImage" src="http://localhost:3000/api/albums/get-image/{{album.image}}">
            </ion-col>
            <ion-col size="8">
              {{album.description}}
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>


    <ion-col size="4">
      <ion-card  class="search-results">
        <ion-card-header>
          <ion-card-title>
            Canciones
          </ion-card-title>
        </ion-card-header>
      
      <ion-card-content style="max-height: 30em  !important; overflow-y: auto;">
          <ion-item *ngFor="let so of canciones">
            <ion-thumbnail slot="start">
              <img src="../../../../../assets/images/music2.png">
            </ion-thumbnail>
            <ion-label>
              <h3>{{so.number}} - {{so.name}}</h3>
              <p>{{so.duration}}</p>
            </ion-label>
            <ion-button class="paddTop" (click)="reproducir(so._id)">
              <ion-icon name="play"></ion-icon>
            </ion-button>
            <ion-button class="paddTop">
              <ion-icon name="add"></ion-icon>
            </ion-button>
            <ion-button class="paddTop" *ngIf="identity.rol == 'ADMIN'" (click)="eliminarSong(so._id, so.name)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
            <ion-button class="paddTop" *ngIf="identity.rol == 'ADMIN'"  [routerLink]="['/principal/startmenu/songs-edit', so._id]">
              <ion-icon name="create"></ion-icon>
            </ion-button>
          
          </ion-item>

        </ion-card-content>
      </ion-card>

    </ion-col>

  </ion-row>

</ion-content>