ion-toolbar{
    --ion-toolbar-background: black !important;
    --color:  #dc4e61 !important;
      text-shadow: 1px 1px 2px rgb(133, 18, 18), 0 0 1em rgb(175, 238, 219), 0 0 0.2em red;
      font-family: myFirstFont;
  }
  
  
ion-item{
  --background: #f8f8f871;

}

.paddTop{
  padding-top: 1em;
}
ion-card-content{
  background: #f8f8f871 !important;


}

 

  ion-content {
    --background: url(../../../../../assets/images/3.jpg) no-repeat center/cover fixed;
    height: 100em;
  }
  ion-card {
    --background: #f8f8f871;
    text-align: center;
    box-sizing: content-box;
  }
  .otherFont{
    font-family: mySecondFont;
    font-size: large;
    color:  #dc4e61 !important;
    text-shadow: 1px 1px 2px rgb(133, 18, 18), 0 0 1em rgb(175, 238, 219), 0 0 0.2em red;
  
  }

   #albumBigImage {
     background: #f8f8f871;
     border-radius: 5%;  
   }
  
  @font-face{
    font-family: mySecondFont;
    src: url(../../../../../assets/fonts/looksky/looksky.woff);
  }
  
  
  @font-face {
    font-family: myFirstFont;
    src: url(../../../../../assets/fonts/LostinWild/LostinWild.woff);
  }
  