<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> Canvas is editing {{user.surname}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
      <ion-back-button color="primary" text="volver" icon="arrow-round-back"></ion-back-button>
    </ion-buttons>
    <ion-avatar margin-horizontal  slot="end">
      <ion-img src="{{imageRef}}{{user.image}}" id='userimage'>
      </ion-img>
    </ion-avatar>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size-lg="8" size-md="10" size-sm="12" size-xs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Its You
          </ion-card-title>
          <ion-card-subtitle>
            Edita tu perfil, no olvides completar aquello que quieres modificar y guardar los cambios
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>

              <ion-col size="12">
                <form [formGroup]="editForm" (ngSubmit)="updateUser()">

                <ion-row class="ion-justify-content-around">
                  <ion-label>
                    <ion-input formControlName="name"  clearInput= 'true' value= {{user.name}} type="text" ></ion-input>
                    <div class="ion-text-right otherFont" *ngFor="let error of errorMesssages.name">
                      <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
                        <small class="error-message"> {{error.message}} </small>
                      </ng-container>
                    </div>
                    <br>
                    <ion-input formControlName="surname"  clearInput= 'true' value= {{user.surname}} type="text" ></ion-input>
                    <div class="ion-text-right otherFont" *ngFor="let error of errorMesssages.surname">
                      <ng-container *ngIf="surname.hasError(error.type) && (surname.dirty || surname.touched)">
                        <small class="error-message"> {{error.message}} </small>
                      </ng-container>
                    </div>
                    <br>
                    <ion-input formControlName="email" clearInput= 'true' value= {{user.email}} ></ion-input>
                    <div class="ion-text-right otherFont" *ngFor="let error of errorMesssages.email">
                      <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                        <small class="error-message"> {{error.message}} </small>
                      </ng-container>
                    </div>
                  </ion-label>
                  <ion-img style="align-self: center !important;" src="{{imageRef}}{{user.image}}" id="userBigImage" alt="user-image"></ion-img>
                </ion-row>
                <br>
                <ion-row class="ion-justify-content-end">
                    <input type="file" placeholder="subir imagen" (change)="fileChamgeEvent($event)" id="inputimage">  
                </ion-row>
                <br>
                <ion-row class="ion-justify-content-around">
                  <ion-button [disabled]="!editForm.valid" type="submit">
                    Guardar cambios
                  </ion-button>
                  <ion-button (click)="salirAtras()">
                    Volver
                  </ion-button>
                </ion-row>
              </form>
            </ion-col>

            </ion-row>
            
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>