<ion-item>
    <ion-thumbnail>
        <img id="songimage" src="../../../assets/images/10.jpg">
    </ion-thumbnail>
    <ion-label>
        <h3>{{song.name}}</h3>
        <p id = "pe"></p>
    </ion-label>
</ion-item>
<audio controls id="player">
    <source id="playersource" type="audio/mpeg">
</audio>