<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> Canvas {{user.surname}}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
      <ion-back-button color="primary" text="volver" icon="arrow-round-back"></ion-back-button>
    </ion-buttons>
    <ion-avatar margin-horizontal slot="end">
      <ion-img id='userimage' src="{{imageRef}}{{user.image}}">
      </ion-img>
    </ion-avatar>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size-lg="8" size-md="10" size-sm="12" size-xs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Its You
          </ion-card-title>
          <ion-card-subtitle>
            Insertar descripción acá
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>

              <ion-col size="12">
                <ion-row class="ion-justify-content-around">
                  <ion-label>
                    {{user.name}}
                    <br>
                    {{user.surname}}
                    <br>
                    {{user.email}}
                  </ion-label>
                  <ion-img id="userBigImage" alt="user-image" src="{{imageRef}}{{user.image}}"></ion-img>
                </ion-row>
              </ion-col>



              <ion-col size="12">
                <ion-row class="ion-justify-content-around">
                  <ion-button (click)="editarUsuario()">
                    Editar mi perfil
                  </ion-button>
                  <ion-button>
                    Eliminar mi usuario
                  </ion-button>
                </ion-row>
              </ion-col>
            </ion-row>
            
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>