<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Canvas Paint on Albums</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
      <ion-back-button color="primary" text="volver" icon="arrow-round-back"></ion-back-button>

    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-row>
    <ion-col size="3" *ngFor="let album of albums">

      <ion-card>
        <ion-card-header>
          <ion-item>
            <ion-thumbnail slot="start">
              <img src="http://localhost:3000/api/albums/get-image/{{album.image}}" [routerLink]="['/principal/startmenu/albums-detail/', album._id]">
            </ion-thumbnail>
            <ion-label>
              <h3> {{album.title}} </h3>
              <p>{{album.artist.name}}</p>
            </ion-label>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          <div>
          <ion-button *ngIf="identity.rol == 'ADMIN'" (click) = "eliminarAlbum(album._id, album.title)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
          <ion-button *ngIf="identity.rol == 'ADMIN'"  [routerLink]="['/principal/startmenu/albums-edit', album._id]">
            <ion-icon name="create"></ion-icon>
          </ion-button>
        </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>