
 
 <ion-menu contentId="content">
      <ion-header>
          <ion-toolbar color="primary">
              <ion-icon slot="start" name="ice-cream"></ion-icon>
              <ion-icon slot="start" name="cafe"></ion-icon>
              <ion-icon slot="start" name="pizza"></ion-icon>
      
            <ion-title class="ion-text-center">Start Menu</ion-title>
            <ion-icon slot="end" name="ice-cream"></ion-icon>
            <ion-icon slot="end" name="pizza"></ion-icon>
            <ion-icon slot="end" name="beer"></ion-icon>
      
          </ion-toolbar>
        </ion-header>

    <ion-content id="lalala">
      <ion-list>
        <ion-menu-toggle  *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)" >
            <ion-label >
                {{p.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-item tappable routerLink="/login" routerDirection="root" (click)="logOut()">
          <ion-icon name="log-out" slot="start"></ion-icon>
          LOG OUT
        </ion-item>
        <ion-item slot="end">
        </ion-item>
        <app-player></app-player>

      </ion-list>


    </ion-content>

  </ion-menu>
 


  <ion-router-outlet id="content" main></ion-router-outlet>






