 .active-item {
   --ion-background-color:  #cc383856;
   text-shadow: 1px 1px 2px rgb(121, 57, 57), 0 0 1em white, 0 0 0.2em red;
   border-left: 8px solid var(--ion-color-primary);


 }

  :host {
    --ion-background-color: #87bebe81;
  }

 ion-title {
   font-family: myFirstFont;
   text-align: center;
   text-shadow: 1px 1px 2px rgb(121, 57, 57), 0 0 1em white, 0 0 0.2em red;
 }


 ion-toolbar {
   --ion-toolbar-background: black !important;
   --color: #dc4e61 !important;
   text-shadow: 1px 1px 2px rgb(133, 18, 18), 0 0 1em rgb(175, 238, 219), 0 0 0.2em red;
   font-family: myFirstFont;
 }

 #lalala {
   --ion-background-color:  #87bebe56 url('../../../../assets/images/4.png') repeat right center / cover;
 }
 ion-item {
   --ion-background-color: none;
 }


.active-item ion-label{

  text-align: center;
  text-transform: capitalize ;
 }



 @font-face {
   font-family: mySecondFont;
   src: url(../../../../assets/fonts/looksky/looksky.woff);
 }


 @font-face {
   font-family: myFirstFont;
   src: url(../../../../assets/fonts/LostinWild/LostinWild.woff);
 }

 