<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> Canvas on detail: {{artist.name}} </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
      <ion-back-button color="primary" text="volver" icon="arrow-round-back"></ion-back-button>

    </ion-buttons>

    <ion-button color="primary" slot="start" *ngIf="identity.rol == 'ADMIN'" (click)="agregarAlbum()"> Add Album
    </ion-button>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-around">
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-row class="ion-justify-content-between">
              <ion-button color="primary" (click)="prev()" >
                <ion-icon name="arrow-back"></ion-icon>
                Previous
              </ion-button>
              <ion-card-title class="ion-padding-top"> Albums </ion-card-title>
  
              <ion-button color="primary" (click)="next()">
                Next
                <ion-icon name="arrow-forward"></ion-icon>
              </ion-button>
            </ion-row>
           
          </ion-card-header>
          <ion-card-content>

            <ion-item *ngFor="let album of albums">
              <ion-thumbnail slot="start">
                <img src= "http://localhost:3000/api/albums/get-image/{{album.image}}" [routerLink]="['/principal/startmenu/albums-detail/', album._id]" >
              </ion-thumbnail>
              <ion-label>
                <h3>{{album.title}}</h3>
                <p>{{album.year}}</p>
                <p>{{album.description}}</p>
              </ion-label>
            </ion-item>
  
          </ion-card-content>
  
        </ion-card>
      </ion-col>
      <ion-col size="5">
        <ion-card>
          <img id="artist123">
          <ion-header>
            <ion-card-title>{{artist.name}}</ion-card-title>
          </ion-header>
          <ion-card-content>
            {{artist.description}}
          </ion-card-content>
        </ion-card>
      </ion-col>
     
    
    </ion-row>
  </ion-grid>

</ion-content>