<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> Canvas is edditing {{song.name}} </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
      <ion-back-button color="primary" text="volver" icon="arrow-round-back"></ion-back-button>

    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size-lg="8" size-md="10" size-sm="12" size-xs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Modifica esta canción
          </ion-card-title>
          <ion-card-subtitle>
            Recuerda completar todos los campos +__+'
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>

              <ion-col size="12">

                <form [formGroup]="editForm" (ngSubmit)="editSong()">


                  <ion-input clearInput="true" formControlName="name" value={{song.name}} placeholder="Nombre">
                  </ion-input>
                  <div class="otherFont" *ngFor="let error of errorMesssages.name">
                    <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
                      <small> {{error.message}} </small>
                    </ng-container>
                  </div>
                  <br>
                  <ion-input formControlName="number" value={{song.number}} spellcheck="true"
                    placeholder="Número de Pista"></ion-input>
                  <div class="otherFont" *ngFor="let error of errorMesssages.number">
                    <ng-container *ngIf="number.hasError(error.type) && (number.dirty || number.touched)">
                      <small> {{error.message}} </small>
                    </ng-container>
                  </div>
                  <br>

                  <ion-input formControlName="duration" value={{song.duration}} spellcheck="true"
                    placeholder="Duración MM:SS"></ion-input>
                  <div class="otherFont" *ngFor="let error of errorMesssages.duration">
                    <ng-container *ngIf="duration.hasError(error.type) && (duration.dirty || duration.touched)">
                      <small> {{error.message}} </small>
                    </ng-container>
                  </div>
                  <br>

                  <ion-row>
                    <input id="filesong" type="file" (change)="fileChangeEvent($event)">
                  </ion-row>
                  <br>

                  <ion-row class="ion-justify-content-around">
                    <ion-button [disabled]="!editForm.valid" (click)="guardar = 'salir'" type="submit">
                      Guardar cambios y salir
                    </ion-button>
                    <ion-button (click)="volver()">
                      Salir
                    </ion-button>
                  </ion-row>


                </form>

              </ion-col>

            </ion-row>

          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>