<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> Canvas Paint on Artists </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
      <ion-back-button color="primary" text="volver" icon="arrow-round-back"></ion-back-button>

    </ion-buttons>
    <ion-button color="primary" slot="start" *ngIf="identity.rol == 'ADMIN'" (click)="agregarArtista()"> Add Artist
    </ion-button>
    <ion-button color="primary" slot="end" [routerLink]="['/principal/startmenu/artists', prevPage]">
      <ion-icon name="arrow-back"></ion-icon>
      Previous
    </ion-button>
    <ion-button color="primary" slot="end" [routerLink]="['/principal/startmenu/artists', nextPage]">
      Next
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-button>


  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size=9>
        <ion-row class="ion-justify-content-around">
          <ion-col size="4" *ngFor="let artist of artists">
            <ion-card>
              <img id={{artist._id}} [routerLink]="['/principal/startmenu/artists-detail', artist._id]"  src="http://localhost:3000/api/artists/get-image/{{artist.image}}">

              <ion-row class="ion-justify-content-between">
              
                  <ion-card-subtitle class="ion-text-center ion-padding-top ion-padding-start"> Artist </ion-card-subtitle>
                
                <div>
                  <ion-button *ngIf="identity.rol == 'ADMIN'" (click) = "eliminarArtist(artist._id, artist.name)">
                    <ion-icon name="trash"></ion-icon>
                  </ion-button>
                  <ion-button *ngIf="identity.rol == 'ADMIN'"  [routerLink]="['/principal/startmenu/artists-edit', artist._id]">
                    <ion-icon name="create"></ion-icon>
                  </ion-button>
                </div>
              </ion-row>
              <ion-card-header>
                <ion-card-title>{{artist.name}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                {{artist.description}}
              </ion-card-content>
              <div *ngIf="identity.rol == 'ADMIN'">
                {{artist._id}}
              </div>
            </ion-card>
          </ion-col>
        </ion-row>


      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>