ion-toolbar{
    --ion-toolbar-background: black !important;
    --color:  #dc4e61 !important;
      text-shadow: 1px 1px 2px rgb(133, 18, 18), 0 0 1em rgb(175, 238, 219), 0 0 0.2em red;
      font-family: myFirstFont;
  }
  
  ion-content{
    --background: url(../../../../assets/images/3.jpg) no-repeat center/cover fixed;
  }

  ion-card {
    background: #f8f8f88c;
  }
  img{
    max-height: 200px;
    width: auto;
  }
  
  
  @font-face{
    font-family: mySecondFont;
    src: url(../../../../assets/fonts/looksky/looksky.woff);
  }
  
  
  @font-face {
    font-family: myFirstFont;
    src: url(../../../../assets/fonts/LostinWild/LostinWild.woff);
  }
  