 <ion-header>
  <ion-toolbar>
    <ion-title>
      <div style="margin-left: 2em;" class="ion-text-center">Canvas paint on Music</div>
    </ion-title>

    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content> 
  <app-startmenu></app-startmenu>
</ion-content>