<ion-content>

  <ion-grid>
    <!-- header -->
    <ion-row class="ion-justify-content-center">
      <ion-col id="col1" size="12">
        <h1>Canvas Music</h1>
      </ion-col>
    </ion-row>
    <ion-row>

      <!-- login -->
      <ion-col id="login" size-lg="5" size-md="5" size-sm="12" size-xs="12">

        <ion-card>
          <ion-card-header>
            <ion-row>
              <ion-avatar>
                <ion-img src="./assets/images/music.png">
                </ion-img>
              </ion-avatar>
              <h1>Login</h1>
            </ion-row>


          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="12">
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                  <!-- login email -->
                  <ion-label position="floating" autocomplete="on">e-mail</ion-label>
                  <ion-item>
                    <ion-input formControlName="email" type="email" multiple="false" inputmode="email"
                      placeholder="ingrese su e-mail"></ion-input>
                  </ion-item>
                  <div class="ion-text-right otherFont" *ngFor="let error of errorMesssages.email">
                    <ng-container *ngIf="email.hasError(error.type) && (email.dirty || email.touched)">
                      <small class="error-message"> {{error.message}} </small>
                    </ng-container>
                  </div>

                  <!-- login contraseña -->
                  <ion-label position="floating" autocomplete="on">Contraseña</ion-label>
                  <ion-item>
                    <ion-input formControlName="password" type="password" placeholder="ingrese su contraseña">
                    </ion-input>
                  </ion-item>
                  <div class="ion-text-right otherFont" *ngFor="let error of errorMesssages.password">
                    <ng-container *ngIf="password.hasError(error.type) && (password.dirty || password.touched)">
                      <small class="error-message"> {{error.message}} </small>
                    </ng-container>
                  </div>
                  <ion-button [disabled]="!loginForm.valid" type="submit" expand="block"
                    style="--background: #dc4e61; --border-radius: 2em; --text-shadow: 2px 2px 2px rgb(0, 0, 0), 0 0 0.2em white, 0 0 1em rgb(255, 0, 0);">
                    <p>Go in!</p>
                  </ion-button>
                </form>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col id="registro" size-lg="7" size-md="7" size-sm="12" size-xs="12">

        <ion-card>
          <ion-card-header>

            <ion-row>
              <ion-avatar id="avatar">
                <ion-img src="./assets/images/source.gif">
                </ion-img>
              </ion-avatar>
              <h1>Nuevo Usuario</h1>
            </ion-row>

          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                <form [formGroup]="registrationForm">
                  <ion-label position="floating" autocomplete="on">Nombre y Apellido</ion-label>
                  <ion-item>
                    <input formControlName="name" class="native-input sc-ion-input-md" aria-labelledby="ion-input-2-lbl"
                      autocapitalize="off" autocomplete="off" autocorrect="off" inputmode="text" name="ion-input-2"
                      placeholder="ingrese su Nombre" type="text">
                  </ion-item>

                  <div class="ion-text-right otherFont" *ngFor="let error of errorMesssages.name">
                    <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
                      <small class="error-message"> {{error.message}} </small>
                    </ng-container>
                  </div>

                  <ion-item>
                    <input formControlName="surname" class="native-input sc-ion-input-md"
                      aria-labelledby="ion-input-3-lbl" autocapitalize="off" autocomplete="off" autocorrect="off"
                      inputmode="text" name="ion-input-3" placeholder="ingrese su Apellido" type="text">
                  </ion-item>

                  <div class="ion-text-right otherFont" *ngFor="let error of errorMesssages.surname">
                    <ng-container *ngIf="surname.hasError(error.type) && (surname.dirty || surname.touched)">
                      <small class="error-message"> {{error.message}} </small>
                    </ng-container>
                  </div>

                  <ion-label position="floating" autocomplete="on">Contraseña</ion-label>
                  <ion-item>
                    <input formControlName="password1" class="native-input sc-ion-input-md"
                      aria-labelledby="ion-input-4-lbl" autocapitalize="off" autocomplete="off" autocorrect="off"
                      name="ion-input-4" placeholder="ingrese su contraseña" type="password">
                  </ion-item>
                  <div class="ion-text-right otherFont" *ngFor="let error of errorMesssages.password1">
                    <ng-container *ngIf="password1.hasError(error.type) && (password1.dirty || password1.touched)">
                      <small class="error-message"> {{error.message}} </small>
                    </ng-container>
                  </div>

                  <ion-item>
                    <input formControlName="password2" class="native-input sc-ion-input-md"
                      aria-labelledby="ion-input-2-lbl" autocapitalize="off" autocomplete="off" autocorrect="off"
                      name="ion-input-2" placeholder="repita su contraseña" type="password">
                  </ion-item>
                  <div class="ion-text-right otherFont" *ngFor="let error of errorMesssages.password2">
                    <ng-container *ngIf="password2.hasError(error.type) && (password2.dirty || password2.touched)">
                      <small class="error-message"> {{error.message}} </small>
                    </ng-container>
                  </div>
                </form>
              </ion-col>
              <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
                <form [formGroup]="registrationForm" (ngSubmit)="register()">
                  <ion-label position="floating" autocomplete="on">e-mail</ion-label>
                  <ion-item>
                    <input formControlName="email1" class="native-input sc-ion-input-md"
                      aria-labelledby="ion-input-2-lbl" autocapitalize="off" autocomplete="off" autocorrect="off"
                      inputmode="email" name="ion-input-2" placeholder="ingrese su e-mail" type="email">
                  </ion-item>

                  <div class="ion-text-right otherFont" *ngFor="let error of errorMesssages.email1">
                    <ng-container *ngIf="email1.hasError(error.type) && (email1.dirty || email1.touched)">
                      <small class="error-message"> {{error.message}} </small>
                    </ng-container>
                  </div>

                  <ion-item>
                    <input formControlName="email2" class="native-input sc-ion-input-md"
                      aria-labelledby="ion-input-2-lbl" autocapitalize="off" autocomplete="off" autocorrect="off"
                      inputmode="email" name="ion-input-2" placeholder="repita su e-mail" type="email">
                  </ion-item>

                  <div class="ion-text-right otherFont" *ngFor="let error of errorMesssages.email2">
                    <ng-container *ngIf="email2.hasError(error.type) && (email1.dirty || email2.touched)">
                      <small class="error-message"> {{error.message}} </small>
                    </ng-container>
                  </div>

                  <ion-button [disabled]="!registrationForm.valid" type="submit" expand="block"
                    style="--background: #dc4e61; --border-radius: 2em; --text-shadow: 2px 2px 2px rgb(0, 0, 0), 0 0 0.2em white, 0 0 1em rgb(255, 0, 0);">
                    <p>Done!</p>
                  </ion-button>
                </form>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>