ion-content {
    --background: url(../../../assets/images/3.jpg) no-repeat center/cover fixed;
}


.sc-ion-card-md-h {
    font-family: myFirstFont;
    background: #3f888880;
    --color: #dc4e61;
    text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em red;
}



.alert-title.sc-ion-alert-md 
{
    color: var(--ion-text-color,#000);
}

ion-item {
    border-radius: 2em;
    margin-top: 0.5em;
    --background: #ffd700;
    opacity: 0.5;
}

.native-input.sc-ion-input-md {
    opacity: 1;
    text-shadow: rgba(27, 90, 185, 0.1) -1px 0, rgba(0, 0, 0, 0.1) 0 -1px,
        rgba(255, 255, 255, 0.1) 1px 0, rgba(255, 255, 255, 0.1) 0 1px,
        rgba(0, 0, 0, 0.1) -1px -1px, rgba(255, 255, 255, 0.1) 1px 1px;
    color: red
}

#col1 {
    font-family: myFirstFont;
    --background: url(../../../assets/images/3.jpg) no-repeat center/cover fixed;
    text-shadow: 1px 1px 2px rgb(121, 57, 57), 0 0 1em white, 0 0 0.2em red;
}

.button {
    margin-top: 1em;
    font-family: myFirstFont;
    color: black;
}

p {
    text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em red;
    text-transform: capitalize;
}

.otherFont{
    font-family: mySecondFont;
    font-size: large;
}

@font-face{
    font-family: mySecondFont;
    src: url(../../../assets/fonts/looksky/looksky.woff);
}


@font-face {
    font-family: myFirstFont;
    src: url(../../../assets/fonts/LostinWild/LostinWild.woff);
}