<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> Canvas is edditing {{artist.name}} </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
      <ion-back-button color="primary" text="volver" icon="arrow-round-back"></ion-back-button>

    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size-lg="8" size-md="10" size-sm="12" size-xs="12">
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            Edita a {{artist.name}}
          </ion-card-title>
          <ion-card-subtitle>
             \o.o/ llena todos los campos
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>

              <ion-col size="12">

                <form [formGroup]="editForm" (ngSubmit)="editArtist()">


                  <ion-input clearInput="true" formControlName="name" value = {{artist.name}}></ion-input>
                  <div class="otherFont"  *ngFor="let error of errorMesssages.name">
                    <ng-container *ngIf="name.hasError(error.type) && (name.dirty || name.touched)">
                      <small> {{error.message}} </small>
                    </ng-container>
                  </div>
                  <br>

                  <ion-textarea rows="8" formControlName="description" value = {{artist.description}} spellcheck="true"></ion-textarea>
                  <div class="otherFont"  *ngFor="let error of errorMesssages.description">
                    <ng-container *ngIf="description.hasError(error.type) && (description.dirty || description.touched)">
                      <small> {{error.message}} </small>
                    </ng-container>
                  </div>
                  <br>
                  <ion-row class="ion-justify-content-around"> 
                    <ion-img src="http://localhost:3000/api/artists/get-image/{{artist.image}}" id="artistBigImage" alt="user-image"></ion-img>
                    <input type="file" placeholder="subir imagen" (change)="fileChangeEvent($event)" id="inputimage"> 
                  </ion-row>
                   
                  <br>
                  <ion-row class="ion-justify-content-around">
                    <ion-button [disabled]="!editForm.valid" type="submit">
                      Guardar cambios
                    </ion-button>
                    <ion-button (click)="volver()">
                      Volver
                    </ion-button>
                  </ion-row>


                </form>

              </ion-col>

            </ion-row>

          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>