ion-toolbar{
    --ion-toolbar-background: black !important;
    --color:  #dc4e61 !important;
      text-shadow: 1px 1px 2px rgb(133, 18, 18), 0 0 1em rgb(175, 238, 219), 0 0 0.2em red;
      font-family: myFirstFont;
  }
  
  
  ion-input{
    border: 3px solid #dc4e6187;
    border-radius: 5%;
    background: #f8f8f871;
  }
  ion-textarea{
    border: 3px solid #dc4e6187;
    border-radius: 5%;
    background: #f8f8f871;
   
  }
  ion-content {
    --background: url(../../../../../assets/images/3.jpg) no-repeat center/cover fixed;
    height: 100em;
  }
  ion-card {
    --background: #f8f8f871;
    text-align: center;
    box-sizing: content-box;
  }
  .otherFont{
    font-family: mySecondFont;
    font-size: large;
    color:  #dc4e61 !important;
    text-shadow: 1px 1px 2px rgb(133, 18, 18), 0 0 1em rgb(175, 238, 219), 0 0 0.2em red;
  
  }
  
  @font-face{
    font-family: mySecondFont;
    src: url(../../../../../assets/fonts/looksky/looksky.woff);
  }
  
  
  @font-face {
    font-family: myFirstFont;
    src: url(../../../../../assets/fonts/LostinWild/LostinWild.woff);
  }
  